
<h2>whirls!</h2>

<div class="demo">
<button id="someButton">Whirl!</button>
</div>




<!--add a comment -->
<form>
Add a comment:
<textarea id="textareaCmt"></textarea>
<div id="txtResponse"></div>
</form>

<button id="delButton"> Delete the comment</button>
<button id="updateButton"> Update the comment</button>

<div id="commentContainer"></div>
<div id="commentResponse"></div>

</br>
</br>
