<section class='slide module module-split'>
	<div class='row group module-split-wrapper'>
		<div class='twelve columns img-wrapper'>
			<%= image_tag("test/grid-04.jpg", :class => '') %>
		</div>
		<div class='eleven offset-one columns'>
			<p>Leggings meh pour-over, elit skateboard eu deserunt. Brooklyn meditation YOLO, vegan kogi squid shabby chic disrupt nostrud delectus minim tilde scenester. Occaecat squid ethical migas Godard, id wolf ex. Pitchfork Pinterest High Life Helvetica typewriter 3 wolf moon. Intelligentsia taxidermy aesthetic umami nulla. Nisi pariatur qui mustache fingerstache Neutra, cardigan aliquip seitan bitters pickled occaecat sriracha retro. Chia anim mlkshk synth quinoa vegan.Leggings meh pour-over, elit skateboard eu deserunt. Brooklyn meditation YOLO, vegan kogi squid shabby chic disrupt nostrud delectus minim tilde scenester.</p>
		</div>
	</div>
</section>