<section class='slide module module-text'>
	<div class='row group wrapper'>
		<div class='sixteen columns offset-four'>
	   <p> <%= block.bloc_text %> </p>
		</div>
	</div>
<!-- 	<div class='row group wrapper'>
		<div class='sixteen columns offset-four'>
			<%#= render :partial => "maps/show_pieces/module_taglist" %>
		</div>
	</div> -->
</section>
