<% split_d = UserGallerySplitsDecorator.decorate(split) %>
<section class='slide module module-split'>
	<div class='row group module-split-wrapper'>

    <% unless split.photos.blank? or split.photos.size > 1 %>
      <% split.photos.each do |photo| %>
      <%unless photo.nil? %>
      <% photo_d = PhotoDecorator.decorate(photo) %>
        <div class='twelve columns img-wrapper'>
          <%=image_tag(photo_d.img_href, :class => '') %>
          </div>
      <%end%>
     <%end%>
     <%end%>
		<div class='eleven offset-one columns'>
			<p><%=split_d.split_txt%></p>
		</div>
	</div>
</section>
