<!-- NEED Module ID -->
<section id='module-comparison-<%=comp.id%>' class='slide module module-comparison'>
	<div class='row group'>
		<div class='juxtapose'>
		  <% unless comp.photos.blank? %>
      <% comp.photos.each do |photo| %>
      <% photo_d = PhotoDecorator.decorate(photo[0]) %>
          <%=image_tag(photo_d.img_href, :class => '') %>
      <%end%>
     <%end%>
		</div>
	</div>
</section>
