<!-- NEED Module ID -->
<section id='module-comparison-1' class='slide module module-comparison'>
	<div class='row group'>
		<div class='juxtapose'>
			<%= image_tag("test/comparison-02.png", :class => '') %>
			<%= image_tag("test/comparison-01.png", :class => '') %>
		</div>
	</div>
</section>