	<ul class='inline-list'>
		<li class='user-meta-item item font_small bold'><a href='/'>pswigert</a></li>
		<li class='user-meta-item item font_small bold'>Oakland, CA</li>
		<li class='user-meta-item item font_small pull-right'>Apr 17, 2015</li>
	</ul>