<ul class='inline-list'>
    <% unless @collaborators.size == 1 %>
      <% @collaborators.each do |collabo| %>
          <li class='user-meta-item item font_small bold'>Collaborators: </li>
          <li class='user-meta-item item font_small bold'> <%= link_to collabo.login, user_profile_path(collabo.id) %> </li>
      <%end%>
    <% else %>
       <li class='user-meta-item item font_small bold'> Author  <%=@collaborators[0].login %>
     <%end%>

  <li class='user-meta-item item font_small bold'><%=@map.location%></li>
  <li class='user-meta-item item font_small pull-right'>  <%= @map.finished_dt.strftime("%B %d, %Y").to_s %></li>
</ul>
