
<div id='video-<%=video.id%>' class='module-one wh-module uk-width-1-1 wh-height-viewport uk-grid uk-margin-bottom uk-margin-top'>
  <!-- Thumbnail -->
  <div class='wh-mod-wrapper wh-height-ninety uk-width-9-10 uk-grid-collapse uk-overlay uk-overlay-hover uk-position-relative uk-cover'>
	  	<img class="uk-invisible" src="" width="" height="" alt="">
		  <iframe id="ytplayer" type="text/html" width="" data-uk-cover class='uk-cover-object uk-position-absolute' height="" src="<%= video.link.split('watch').join('embed') %>"
		frameborder="0" allowfullscreen/>

  </div>
  <!-- Activity for all -->
  <%= render partial: "maps/show_pieces/module_all_meta_side.html.erb", :locals => { :mod => video } %>
</div> <!-- end module -->