/*===== Navbar =====*/
.logo a:hover { opacity: 1; }
.menu-item{
	border-right: 1px solid #323432;
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 3em;
}
.menu-item:nth-of-type(2){
	margin-left: 0;
  margin-right: 1%;
}
.menu-item:nth-of-type(3){
	border-right: none;
}
.navbar {
	background-color: #dee3e7;
	z-index: 1000;
}
.navbar-main{
	background-color: #dee3e7;
	height: 10%;
	margin-top: 0;
	margin-bottom: 0;
	position: fixed;
	top:0;
  -webkit-box-shadow: 2px 2px 2px -1px rgba(168,168,168,1);
  -moz-box-shadow: 2px 2px 2px -1px rgba(168,168,168,1);
  box-shadow: 2px 2px 2px -1px rgba(168,168,168,1);
}
.navbar-main a{
	color: #323432;
	text-transform: uppercase;
}
.navbar-main .wrapper{
	height: 100%;
}
#navbar-photo-manager{ 
  background-color: black;
  color: white;
  height: 10%;
  padding: 7% 0  1% 0;
  top: 0px;
  z-index: 9998;
}
#main-logo{
	font-weight: bold;
	font-style: italic;
}
.scrollable {
  height: 100%;
  overflow: overlay;
  position: fixed;
}
#search-icon-wrapper{
	background: #dee3e7;
  height: 50px;
  line-height: 0em;
  position: absolute;
  right: 0;
  top: 13%;
  width: 50px;
  z-index: 100;
}
#search-input{
  border: none;
  font-size: .75em;
  height: 48px;
  padding-left: 2%;
  position: absolute;
  right: 0;
  top: 13%;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
  transition: all .25s ease;
  width: 0;
  z-index: 99;
}
#search-input:focus{
  outline-color: #B3B3B3;
  outline-width: thin;
}
#search-input-wrapper{
  height: 100%;
}
.search-expanded #search-input{
	width: 88.7%;
}
.search-expanded #search-icon-wrapper{
	background: #676767;
}
.search-expanded #search-icon-wrapper i{
	color: white;
}
.search-term-highlight{
  font-weight: bold;
}
.ui-autocomplete{
  background-color: white;
  color: #333;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(194,194,194,1);
  -moz-box-shadow: 1px 1px 4px 1px rgba(194,194,194,1);
  box-shadow: 1px 1px 4px 1px rgba(194,194,194,1);
  font-size: .75em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  width: 200px;
}
.ui-autocomplete .ui-menu-item{
  border-top: 1px solid cadetblue;
  border-top: 1px solid cadetblue;
  color: darkcyan;
  cursor: default;
  padding: 1em .5em;
}
.ui-autocomplete .ui-menu-item.ui-state-focus{
  background: cadetblue;
  color: white;
}
.ui-helper-hidden-accessible{ display: none; }
/*Bigger than 568px*/
@media only screen and (min-width: 568px) {

}
/*Bigger than 768px*/
@media only screen and (min-width: 768px) {

}
/*Bigger than 1024px*/
@media only screen and (min-width: 1024px) {
}
