<ul id='end-bar' class='button-bar'>
	<li class='item option-toggle'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-plus'></i>
		</button><br>
		<span class='button-label uk-invisible uk-text-small'>Add Module</span>
	</li>
	<li class='option item invisible' data-mod-type='grid'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-square'></i>
		</button><br>
		<span class='button-label uk-invisible uk-text-small'>Grid</span>
	</li>
	<li class='option item invisible' data-mod-type='comparison'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-sliders'></i>
		</button><br>
		<span class='button-label uk-invisible uk-text-small'>Compare</span>
	</li>
	<li class='option item invisible' data-mod-type='split'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-star-half'></i>
		</button><br>
		<span class='button-label uk-invisible uk-text-small'>Half</span>
	</li>
	<li class='option item invisible' data-mod-type='text'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-file-text'></i>
		</button><br>
		<span class='button-label uk-invisible uk-text-small'>Text</span>
	</li>
	<li class='option item invisible' data-mod-type='video'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-video-camera'></i>
		</button><br>
		<span class='button-label uk-invisible uk-text-small'>Video</span>
	</li>
</ul>