<ul id='end-bar' class='button-bar'>
	<li class='option item invisible' data-module-type='grid'>
		<button>
			<i class='h2-size fa fa-square'></i>
		</button><br>
		<span class='invisible button-label font_small'>Grid</span>
	</li>
	<li class='option item invisible' data-module-type='comparison'>
		<button>
			<i class='h2-size fa fa-sliders'></i>
		</button><br>
		<span class='invisible button-label font_small'>Compare</span>
	</li>
	<li class='item option-toggle'>
		<button>
			<i class='h2-size fa fa-plus'></i>
		</button><br>
		<span class='hidden font_small'>Add</span>
	</li>
	<li class='option item invisible' data-module-type='split'>
		<button>
			<i class='h2-size fa fa-star-half'></i>
		</button><br>
		<span class='invisible button-label font_small'>Half</span>
	</li>
	<li class='option item invisible' data-module-type='text'>
		<button>
			<i class='h2-size fa fa-file-text'></i>
		</button><br>
		<span class='invisible button-label font_small'>Text</span>
	</li>
	<li class='option item invisible' data-module-type='video'>
		<button>
			<i class='h2-size fa fa-video-camera'></i>
		</button><br>
		<span class='invisible button-label font_small'>Video</span>
	</li>
</ul>