<ul id='end-bar' class='button-bar'>
	<li class='item option-toggle'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-plus uk-h3'></i>
		</button><br>
		<span class='button-label uk-invisible'>Add Module</span>
	</li>
	<li class='option item uk-invisible' data-mod-type='grid'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-th-large uk-h3'></i>
		</button><br>
		<span class='button-label uk-invisible'>Photo Grid</span>
	</li>
	<li class='option item uk-invisible' data-mod-type='comparison'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-angle-right uk-h3'></i>
		</button><br>
		<span class='button-label uk-invisible'>Compare</span>
	</li>
	<li class='option item uk-invisible' data-mod-type='split'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-star-half uk-h3'></i></i>
		</button><br>
		<span class='button-label uk-invisible'>Photo / Text</span>
	</li>
	<li class='option item uk-invisible' data-mod-type='text'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-file-text uk-h3'></i>
		</button><br>
		<span class='button-label uk-invisible'>Text</span>
	</li>
	<li class='option item uk-invisible' data-mod-type='video'>
		<button class='uk-button uk-button-primary'>
			<i class='fa fa-video-camera uk-h3'></i>
		</button><br>
		<span class='button-label uk-invisible'>Video</span>
	</li>
</ul>