<div class='twenty-four columns'>
  <div class='input-wrapper'>
    <label for='project-tag_list' class='input-label light'>Tags</label>
    <textarea id='project-tag_list' class='tag-input'></textarea>
    <div id='tag-container' class='tag-container'>
      <% unless @maptags.nil? || @maptags.blank? %>
        <% @map.tags.each do |tag| %>
          <span class='project-tag cursor-def light font_small'># <%= tag.name %> </span>
        <% end %>
      <% end %>
    </div>
  </div>
  <input type="hidden" name="map_id" id = "mapp_val" value= <%=@map[:id]%>/>
</div>
