<div class='twenty-four columns'>
  <div class='input-wrapper'>
    <label for 'project-description' class='input-label light'>Description</label>    
    <textarea id='project-description' class='char-limited' rows='1' maxlength="550" value='project-description'>
<% unless @map[:description].nil? || @map[:description].blank? %>
<%= @map[:description] %></textarea>
<% end %>

    <span class='char-limit light invisible font_small' data-limit='550'>550</span>
  </div>
</div>