<div class='twelve columns'>
  <label for='project-tag_list' class='font_small'>Tags</label>
  <textarea id='project-tag_list' class='tag-input' placeholder='#tags'></textarea>

  <div id='tag-container' class='tag-container'>
    <% unless @maptags.nil? || @maptags.blank? %>
      <% @map.tags.each do |tag| %>
        <span class='project-tag cursor-def light font_small'># <%= tag.name %> </span>
      <% end %>
    <% end %>
  </div>

  <input type="hidden" name="map_id" id = "mapp_val" value= <%=@map[:id]%>/>
</div>

    <!--<btn id="title_submit">Save</btn>-->
<!--     <script>
   // $("#title_submit").click(function() {
    $('#project-tag-listz').bind("enterKey",function(e){
        taglist = $("#project-tag-listz").val();
            console.log(taglist);
            map_id = $("#mapp_val").val();
            console.log(map_id)
            data =  {tag_list: taglist};
            console.log(data);
           url = "/maps/update_remote/";
           url = url.concat(map_id);
            console.log(url);
            $.ajax({
                url: url,
                data:  data,
                cache: false,
                type: "post",
                success: function(data){
                  //empty the div and then append the results
                  $( "#tag-container" ).empty();
                  $( ".tag-input" ).empty();
                  $( "#tag-container" ).append( data.tag_list );
                    console.log("sucess!!");
                    console.log(data);
                  },
                error: function(){
                alert("Something went wrong!");
                 }
          });
        })
    //listens to for enter event on the form field
    $('#project-tag-listz').keyup(function(e){
    if(e.keyCode == 13){
      $(this).trigger("enterKey");
      }
    });
   </script> -->


