<div class='twelve columns'>
  <h1 class='project-name first-header'>
    <label for 'project-name' class='font_small'>Title</label>
    <textarea id='project-name' class='char-limited' placeholder='Title' maxlength='70'><%=@map[:name]%></textarea>
    <input type="hidden" name="project-id" id="project-id" value = <%=@map[:id]%>>
    <span class='char-limit font_small light hidden' data-limit='70'>70</span>
  </h1>
</div>