<div class='twenty columns'>
	<div class='input-wrapper'>
		<label for 'project-name' class='input-label light'>Title</label>
	  <textarea id='project-name' class='char-limited' maxlength='70'><%=@map[:name]%></textarea>
	  <input type="hidden" name="project-id" id="project-id" value = <%=@map[:id]%>>
	  <span class='char-limit font_small light invisible' data-limit='70'>70</span>
	</div>
</div>