<a class='user-meta eight columns' href='/'>
	<div class='image profile-thumb'>
	  <img src='https://s-media-cache-ak0.pinimg.com/avatars/kbasye_1391702042_30.jpg'/>
	</div>
	<span class='user-meta h3-size'><%=current_user.login%></span>
</a>