<nav id='photo-cats' class='row group padding-bottom padding-top'>
	<ul class='tag-list inline-list twelve columns font_small wrapper'>
		<li id='cat-aerial'class='tag item active' data-type='aerial' data-origin='uploaded'><span class='tag-wrapper'>Aerial</span></li>
		<li id='cat-street'class='tag item' data-type='street' data-origin='uploaded'><span class='tag-wrapper'>Street View</span></li>
	</ul>
</nav>