<nav id='photo-state' class='tab-nav row group padding-top'>
	<div id='tab-uploaded' class='tab six columns h-centered active' >
		<a href='#'>
			<i class='fa fa-upload'></i>
			Uploaded
		</a>
	</div>
	<div id='tab-saved' class='tab six columns h-centered'>
		<a href='#'>
			<i class='fa fa-save'></i>
			Saved
		</a>
	</div>
</nav>