<nav id='navbar-create'>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoState" %>
	<%= render :partial => "maps/map_info_pieces/side_navPhotoCats" %>
</nav>
<section id='photos-uploaded' class='photo-list first-section scrollable'>
	<div class='photo-row row group wrapper'>

	</div> <!-- end row group -->
</section>

<section id='photos-saved' class='photo-list first-section scrollable hidden'>
	<div class='photo-row row group wrapper'>

	</div> <!-- end row group -->
</section>