<nav id='photo-manager-nav' class=''>
 
  <div id='photo-select' class="uk-margin-bottom">
    <div class="uk-button uk-form-select" data-uk-form-select>
      <span>All Photos <i class='fa fa-caret-down'></i></span>
      <select>
          <option value="all">All Photos</option>
          <option value="current">Current</option>
          <option value="saved">Saved</option>
          <option value="mine">Mine</option>
      </select>
    </div>

    <button id='view-switch' class="uk-button"><i class='fa fa-th-large'></i></button>
    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
      <button class="uk-button"><i class='fa fa-sort'></i></button>
      <div class="uk-dropdown">
          <ul class="uk-nav uk-nav-dropdown">
            <li><a href="#" class='sort' data-sort='created:asc'>Newest</a></li>
            <li><a href="#" class='sort' data-sort='created:desc'>Oldest</a></li>
          </ul>
      </div>
    </div>

    <div class="uk-form-file uk-float-right">
      <button class="uk-button"><i class='fa fa-upload'></i></button>
      <input type="file" multiple>
    </div>
  </div> <!-- end .uk-flex -->

  <div id='photo-type' class='uk-contrast uk-flex uk-flex-center'>
    <ul class="uk-subnav uk-subnav-pill">
      <li data-filter='all' class='filter uk-active'><a href="#">All</a></li>
      <li class='filter' data-filter='.aerial'><a href="#">Aerial</a></li>
      <li class='filter' data-filter='.normal'><a href="#"> Street</a></li>
      <li class='filter' data-filter='.people'><a href="#">People</a></li>
    </ul>
  </div>
</nav>

<section id='preview-list' class="container">

</section>
<%= javascript_include_tag "/javascripts/jquery-file-upload/jquery.fileupload.js" %>