<nav id='photo-cats' class='row group padding-bottom padding-top hidden'>
	<ul class='tag-list inline-list twelve columns font_small wrapper'>
		<li class='tag item active' data-type='aerial'><span class='tag-wrapper'>Aerial</span></li>
		<li class='tag item' data-type='street'><span class='tag-wrapper'>Street View</span></li>
	</ul>
</nav>