<nav id='photo-cat-tags' class='row group padding-bottom padding-top'>
	<ul class='tag-list inline-list twelve columns font_small wrapper'>
		<li class='tag item'><a href='#' class='active'>Aerial</a></li>
		<li class='tag item'><a href='#' class='inactive'>Street View</a></li>
		<li class='tag item'><a href='#' class='inactive'>People</a></li>
	</ul>
</nav>