#project-creation-2{
	height: 100%;
	overflow-y: 100%;

	#end-bar .uk-button {
	  width: 60px;
	  height: 60px;
	}
	.button-bar{
		height: 76px;
    list-style-type: none;
    margin: 2em auto 0em auto;
    position: relative;
    text-align: center;
    width: 400px;
    z-index: 1;
	}

  .button-bar-btw button{
    height: 40px;
    width: 40px;
  }
  .button-bar .option-0, .button-bar .option-1, .button-bar .option-2, .button-bar .option-3, .button-bar .option-4, .button-bar .option-5{
    -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
    z-index: 1;
  } 
  .button-bar .item{
    left: 162.5px;
    position: absolute;
  }
  .button-bar .option-0{left: 37px;}
  .button-bar .option-1{left: 106px;}
  .button-bar .option-2{left: 162.5px;}
  .button-bar .option-3{left: 236px;}
  .button-bar .option-4{left: 301px;}
  .button-bar .option-toggle{
    z-index: 2;
  }
  .button-bar-btw .option-0{left: 102px;}
  .button-bar-btw .option-1{left: 143px;}
  .button-bar-btw .option-2, .button-bar-btw .option-toggle{left: 190px;}
  .button-bar-btw .option-3{left: 234px;}
  .button-bar-btw .option-4{left: 278px;}
  .button-bar-btw .option-toggle button:hover{ opacity: 1; }

	#knitter-map-pane{
		/*display: none;*/
		height: 400px;
		width: 98%;
		z-index: 99;
	}
	.preview{
		/*position: relative;*/
	}
	.preview .draggable-wrapper{
		height: 100%;
		width: 100%;
		/*position: absolute;*/
	}
	.preview .img-wrapper{
	  width: 100%;
	  height: 100%;
/*	  position: absolute;
	  top: 0;
	  left: 0;*/
	}
	#preview-list{
	  margin-top: -96px;
	  margin-bottom: 100px;
	}
	.text-module .text-module-body{
		height: 204px;
	}
	.text-module-body{
		height: 227px;
	}
	.uk-accordion{
		font-size: 14px;
	}
	.uk-accordion-title.uk-active::after{
		content: "\f0d7";
		font-family: FontAwesome;
	}
	.uk-placeholder{
		min-height: 67px;
	}
	.uk-placeholder.drop-active, .uk-grid.drop-active{
	  background-color: #ebf7fd;
	  color: #2d7091;
	  border-color: rgba(45,112,145,.3);
	}
	.uk-placeholder.drop-target, .uk-grid.drop-target{
	  background: #f2fae3;
	  color: #659f13;
	  border-color: rgba(101,159,19,.3);
	}
	.uk-accordion-title::after{
		content: "\f0d8";
		font-family: FontAwesome;
	}
	.photo{
		height: 227px;
		position: relative;
	}
	.photo .photo-remove{
	  cursor: pointer;
	  position: absolute;
		right: 5px;
		top: 5px;
		z-index: 1;
	}
	.photo .img-wrapper{
	  width: 100%;
	  height: 100%;
	}
	#photo-manager{
		background: #666;
		height: 94%;
	  overflow-y: overlay;
	  position: fixed;
	  width: 25%;
	}
	#photo-type{
	  background: #666;
	}
	#photo-select{
		background: #efefef;
	}
	#project-form{
	  max-height: 400px;
	  overflow: hidden;
	}
	.project-tag{
		cursor: default;
	}
	.project-tag:hover{
		text-decoration: line-through;
	}
	#project-top{
		margin-left: 25%;
	  width: 75%;
	}
	.sort.uk-active::before, #photo-select .filter.uk-active::before{
		content: "\f00c";
		font-family: FontAwesome;
	}
	.split-module .uk-placeholder{
		margin-bottom: 0;
	}
	.tag-container{
		min-height: 20px;
	}
	.uk-overlay-panel{
		cursor: -webkit-grabbing;
		padding: 10px;
	}
	.uk-overlay-panel a{
		cursor: -webkit-grabbing;
	}
	.container{
	  padding: 2% 7% 0 2%;
	  text-align: justify;
	  font-size: 0;
	}

	.container:after{
	  content: '';
	  display: inline-block;
	  width: 100%;
	}

	.container .mix,
	.container .gap{
	  display: inline-block;
	}
	.container .mix{
	  text-align: left;
	  margin-bottom: 2%;
	  display: none;
	}

	.container .mix:before{
	  content: '';
	  display: inline-block;
	  padding-top: 60%;
	}

	.container .mix-half{
		width: 49%;
		height: 130px;
	}

	.container .mix-whole{
		width: 100%;
		height: 265px;
	}

	@media all and (min-width: 420px){
	  .container .mix,
	  .container .gap{
	    /*width: 32%;*/
	  }
	}

	@media all and (min-width: 640px){
	  .container .mix,
	  .container .gap{
	    /*width: 23.5%;*/
	  }
	}
	
}