#project-creation-2{
	height: 100%;
	overflow-y: 100%;

	#knitter-map-pane{
		/*display: none;*/
		height: 500px;
		width: 100%;
	}

	#photo-manager{
		 background: #666;
	}
	#photo-type{
	  background: #666;
	}
	#photo-select{
		background: #efefef;
	}
	.sort.uk-active::before, #photo-select .filter.uk-active::before{
		content: "\f00c";
		font-family: FontAwesome;
	}
	.uk-overlay-panel{
		padding: 10px;
	}
	.container{
	  padding: 2% 2% 0;
	  text-align: justify;
	  font-size: 0;
	}

	.container:after{
	  content: '';
	  display: inline-block;
	  width: 100%;
	}

	.container .mix,
	.container .gap{
	  display: inline-block;
	}
	.container .mix{
	  text-align: left;
	  margin-bottom: 2%;
	  display: none;
	}

	.container .mix:before{
	  content: '';
	  display: inline-block;
	  padding-top: 60%;
	}

	.container .mix-half{
		width: 49%;
		height: 130px;
	}

	.container .mix-whole{
		width: 100%;
		height: 265px;
	}

	@media all and (min-width: 420px){
	  .container .mix,
	  .container .gap{
	    /*width: 32%;*/
	  }
	}

	@media all and (min-width: 640px){
	  .container .mix,
	  .container .gap{
	    /*width: 23.5%;*/
	  }
	}
	
}