<div class="about"style="background-image: url(http://i54.tinypic.com/4zuxif.jpg) no-repeat center center fixed;
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover"></div>
</div>
