<div id='search-results'>

	<div class='uk-container uk-margin-top'>
		<ul id='search-tag-bar' class="uk-subnav uk-subnav-pill uk-width-1-1">
				<li class='uk-text-bold uk-text-muted wh-subnav-header'>Popular <i class='fa fa-tag uk-text-muted'></i></li>

	  </ul>
	</div>

	<div id='search-results-list' class='container'>
			<% @maps.each do |card| %>
			<%= render :partial => "maps/search_pieces/search_card", :locals => {:card => card} %>
		<%end %>
		<% length = @maps.size %>
		<% if length %3 != 0 %>
			<div class='gap'></div>
		<% end %>

	</div>

</div>