<div id='project-search'>

	<div id='search-action-bar' class='twenty-four'>
		<div class='row group wrapper'>

<!-- 			<div id='search-summary' class='eight columns h-centered'>
				<h1 class='h4-size'>3,420 results for <span class='caps'>Berkeley, CA</span></h1>
			</div> -->
			<div class='fourteen columns'>
				<span class='blocked caps font_small'>Showing:</span>
				<h1 class='h5-size'>
					1,333 <span class='search-filter cursor-point'>projects <i class='fa fa-caret-down'></i></span>
					tagged <span class='search-filter cursor-point'>anything <i class='fa fa-caret-down'></i></span>
					near <span class='search-filter cursor-point caps'>Berkeley, CA <i class='fa fa-caret-down'></i></span>
				</h1>
			</div>
			<div id='search-sort' class='ten columns font_small h-righted'>
						<label for='search-sort'>
							<i class='fa fa-sort '></i> Popular
						</label>
						<label for='search-view'>
							<i class='fa fa-list '></i> List View
						</label>
			</div>
<!-- 			<div id='search-selects' class='eight columns'>

			</div> -->
		</div>
	</div> <!-- end search-action-bar -->

	<section id='search-results-list' class='first-slide slide row group'>

		<div id='search-results' class='columns column-top'>
			
		</div> <!-- end search-results -->

<!-- 		<div id='search-map-wrapper' class='map-wrapper columns column-top pull-right'>
			<div id='search-map-pane' class='map-pane'></div>
		</div> -->
	</section>
</div>