<div id='project-search'>
	<section id='search-results-list' class='first-slide slide row group'>

		<div id='search-results' class='columns column-top'>
			
			<div id='search-summary' class='row group h-centered'>
				<h1 class='search-results-wrapper h5-size'>1,333 <span class='search-highlight'>projects</span> tagged <span class='search-highlight'>parks</span> near <span class='search-highlight'>Bay Area, CA</span></h1>

			</div>

			<div id='search-card-list' class='search-results-wrapper'>

				<article id='search-card-1' class='search-card' data-map-id='1'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'></a></h1>
							<%#=render :partial => 'maps/show_pieces/project_meta' %>
							<ul class='map-meta inline-list'></ul>
						</div>
					</div> <!-- end row group -->
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link'>
								<!-- <a class='img-link' href='/'></a> -->
							</a>
						</div>
					</div> <!-- end row group -->
					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->

				<article id='search-card-2' class='search-card' data-map-id='2'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'>Demolition of Rope Factory</a></h1>
							<%#=render :partial => 'maps/show_pieces/project_meta' %>
							<ul class='map-meta inline-list'></ul>
						</div>
					</div> <!-- end row group -->
				
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link'></a>
						</div>
					</div> <!-- end row group -->

					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->

				<article id='search-card-3' class='search-card' data-map-id='3'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'></a></h1>
							<%#=render :partial => 'maps/show_pieces/project_meta' %>
							<ul class='map-meta inline-list'></ul>
						</div>
					</div> <!-- end row group -->
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link'>
								<!-- <a class='img-link' href='/'></a> -->
							</a>
						</div>
					</div> <!-- end row group -->
					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->

				<article id='search-card-4' class='search-card' data-map-id='4'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'></a></h1>
							<%#=render :partial => 'maps/show_pieces/project_meta' %>
							<ul class='map-meta inline-list'></ul>
						</div>
					</div> <!-- end row group -->
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link'>
								<!-- <a class='img-link' href='/'></a> -->
							</a>
						</div>
					</div> <!-- end row group -->
					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->
	
		    <div class='row group last-row'>
		      <div class='twenty-four columns'>
		        <button id='search-more' class='button-action button-next'>Load More Projects</button>
		      </div>
		    </div> <!-- end row group -->

			</div> <!-- end search-results-wrapper -->
		</div> <!-- end search-results -->

		<div id='search-map-wrapper' class='map-wrapper columns column-top pull-right'>
			<div id='search-map-pane' class='map-pane'></div>
		</div>
	</section>
</div>