<div id='search-results'>
	<div class='search-tag-bar uk-container uk-margin-top'>
		<ul class="uk-subnav uk-subnav-pill uk-width-1-1">
				<li class='uk-text-bold uk-text-muted wh-subnav-header'>Popular Tags:</li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	      <li><a class='uk-text-muted' href="#">#item</a></li>
	  </ul>
	</div>

	<div id='search-results-list' class='container'>
		<% 15.times do |card| %>
			<%= render :partial => "maps/search_pieces/search_card" %>
		<% end %>
	</div>

</div>







