<div id='project-search'>
	<section id='search-results-list' class='first-slide slide row group'>

		<div id='search-results' class='columns column-top'>
			
			<div id='search-summary' class='row group h-centered'>
				<h1 class='search-results-wrapper h5-size'>1,333 <span class='search-highlight'>projects</span> tagged <span class='search-highlight'>tragic</span> near <span class='search-highlight'>Bay Area, CA</span></h1>
			</div>

			<div id='search-card-list' class='search-results-wrapper'>

				<article class='search-card'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'>The Day the Drone Died</a></h1>
							<%=render :partial => 'maps/show_pieces/project_meta' %>
						</div>
					</div> <!-- end row group -->

					<div class='row group search-card-wrapper push-down'>					
					</div> <!-- end row group -->
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link' style="background-image:url('/assets/test/test4.jpg')">
								<!-- <a class='img-link' href='/'></a> -->
							</a>
						</div>
					</div> <!-- end row group -->
					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
						    <li class='project-tag item push-down'><a href='/'>dji</a></li>
						    <li class='project-tag item push-down'><a href='/'>drone crash</a></li>
						    <li class='project-tag item push-down'><a href='/'>sorry coye</a></li>
						    <li class='project-tag item push-down'><a href='/'>oakland</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay area</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay</a></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->

				<article class='search-card'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'>Demolition of Rope Factory</a></h1>
							<%=render :partial => 'maps/show_pieces/project_meta' %>
						</div>
					</div> <!-- end row group -->

					<div class='row group search-card-wrapper push-down'>					
					</div> <!-- end row group -->
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link' style="background-image:url('/assets/test/test2.jpg')">
								<!-- <a class='img-link' href='/'></a> -->
							</a>
						</div>
					</div> <!-- end row group -->
					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
						    <li class='project-tag item push-down'><a href='/'>dji</a></li>
						    <li class='project-tag item push-down'><a href='/'>drone crash</a></li>
						    <li class='project-tag item push-down'><a href='/'>sorry coye</a></li>
						    <li class='project-tag item push-down'><a href='/'>oakland</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay area</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay</a></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->

				<article class='search-card'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'>Avon Dam</a></h1>
							<%=render :partial => 'maps/show_pieces/project_meta' %>
						</div>
					</div> <!-- end row group -->

					<div class='row group search-card-wrapper push-down'>					
					</div> <!-- end row group -->
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link' style="background-image:url('/assets/test/test1.jpg')">
								<!-- <a class='img-link' href='/'></a> -->
							</a>
						</div>
					</div> <!-- end row group -->
					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
						    <li class='project-tag item push-down'><a href='/'>dji</a></li>
						    <li class='project-tag item push-down'><a href='/'>drone crash</a></li>
						    <li class='project-tag item push-down'><a href='/'>sorry coye</a></li>
						    <li class='project-tag item push-down'><a href='/'>oakland</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay area</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay</a></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->

				<article class='search-card'>
					<div class='row group search-card-wrapper'>
						<div class='twenty-four columns'>
							<h1 class='h3-size caps bold'><a href='/'>TJHSST Redevelopment</a></h1>
							<%=render :partial => 'maps/show_pieces/project_meta' %>
						</div>
					</div> <!-- end row group -->

					<div class='row group search-card-wrapper push-down'>					
					</div> <!-- end row group -->
					<div class='row group'>
						<div class='twenty-four columns'>
							<a class='img-wrapper img-wrapper-link' style="background-image:url('/assets/test/test3.JPG')">
								<!-- <a class='img-link' href='/'></a> -->
							</a>
						</div>
					</div> <!-- end row group -->
					<div class='row group search-card-wrapper'>
						<div id='project-tag-wrapper' class='twenty-four pos-rel padding-top'>
							<ul class='project-tag-list inline-list font_small'>
						    <li class='project-tag-icon item h3-size'>
						    <i class='fa fa-tag'></i></li>
						    <li class='project-tag item push-down'><a href='/'>dji</a></li>
						    <li class='project-tag item push-down'><a href='/'>drone crash</a></li>
						    <li class='project-tag item push-down'><a href='/'>sorry coye</a></li>
						    <li class='project-tag item push-down'><a href='/'>oakland</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay area</a></li>
						    <li class='project-tag item push-down'><a href='/'>bay</a></li>
							</ul>
						</span>
					</div> <!-- end row group -->
				</article> <!-- end search-card -->

			</div> <!-- end search-results-wrapper -->
		</div> <!-- end search-results -->

		<div id='search-map-wrapper' class='map-wrapper columns column-top pull-right'>
			<div id='search-map-pane' class='map-pane'></div>
		</div>
	</section>
</div>

					<!-- 	<div class='twenty-four columns'>
							<p class='description'>
								The Elwha Dam in the Olympic peninsula is a 105-foot concrete gravity dam built in 1913. Due to the modest benefits in electricity production and the serious environmental impact of the dam (as well as the Glines Canyon dam upstream of Elwha), the dam was purchased in 2000 by the Department of the Interior in preparation for demolition. Removing the dams would open up passage for fish populations, particularly salmon, and a restoration of the original river channel. Demolition took place from 2011 to 2014, and the river has been actively managed since then, particularly as increased sediment build up has impacted the water quality for surrounding towns, particularly Port Angeles. Monitoring the changes in the river channel, particularly right around the dam, is valuable for local communities and environmental groups.
							</p>
						</div>
 -->