<div id='search-results'>

	<div id='search-results-list' class='container'>
			<% @maps.each do |card| %>
			<%= render :partial => "maps/search_pieces/search_card", :locals => {:card => card} %>
		<%end %>
		<% length = @maps.size %>
		<% if length %3 != 0 %>
			<div class='gap'></div>
		<% end %>

	</div>

</div>