<section id="knitter-map-pane"></section>
<div id='project-creation' class='row group'>
    <div id='project-form' class='eight columns'>
  		<section id='project-header'>
  			<div class='wrapper'>
          <%= render "newmapform" %>
        </div>
		  </section>
  </div>
</div>
<script><%= render :partial => 'maps/geocoder', :formats => [:js] %></script>
