<section id="knitter-map-pane"></section>
<div id='project-creation' class='row group'>
    <div id='project-form' class='eight columns'>
  		<section id='project-header'>
  			<div class='wrapper'>
          <%= render :partial => "maps/new_map_pieces/newmapform" %>
        </div>
		  </section>
  </div>
</div>
<script> <%= render :partial => "maps/maps_js_rb/geocoder", :formats => [:js] %> </script>
