<div id='project-creation-1' class='row group'>
	<section class='fourteen columns offset-five first-section'>
		<h1>Create Your Project</h1>
		<%= render :partial => "maps/new_map_pieces/newmapform" %>
	</section>
</div>
<script> <%= render :partial => "maps/maps_js_rb/geocoder", :formats => [:js] %> </script>