/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */

/* Reusable column setup */

.row {
  clear: both;
  padding: 0;
}
.columns {
  display: block;
  float:left;
  margin: 1% 0 1% 1%;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-background-clip:padding-box !important;
  -webkit-background-clip:padding-box !important;
  background-clip:padding-box !important;
}
.columns:first-child { margin-left: 0; }

.columns.column-first{
  margin-left: 7.41666666667%;
}
.column-top{
  margin-top: 0;
}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1;} /* For IE 6/7  } */

.one {
    width:3.20833333333%;
}
.offset-one.columns:first-child{ margin-left: 3.20833333333%; }
.offset-one{
  margin-left: 3.20833333333%;
}
.two {
    width:7.41666666667%;
}
.offset-two { margin-left: 7.41666666667%; }

.three {
    width:11.625%;
}
.four {
    width:15.8333333333%;
}
  .columns.offset-four{ margin-left: 15.8333333333%; }
.five {
    width:20.0416666667%;
}
	.offset-five, .fourteen.offset-five { margin-left: 20.0416666667%; }
.six {
    width:24.25%;
}
.seven {
    width:28.4583333333%;
}
.eight {
    width:32.6666666667%;
}
.nine {
    width:36.875%;
}
.ten {
    width:41.0833333333%;
}
.eleven {
    width:45.2916666667%;
}
.twelve {
    width:49.5%;
}
.thirteen {
    width:53.7083333333%;
}
.fourteen {
    width:57.9166666667%;
}
.fifteen {
    width:62.125%;
}
.sixteen {
    width:66.3333333333%;
}
.seventeen {
    width:70.5416666667%;
}
.eighteen {
    width:74.75%;
}
.nineteen {
    width:78.9583333333%;
}
.twenty {
    width:83.1666666667%;
}
.twenty-one {
    width:87.375%;
}
.twenty-two {
    width:91.5833333333%;
}
.twenty-three {
    width:95.7916666667%;
}
.twenty-four {
    width:100%;
}


