/*===== Base =====*/
a, .a {
  cursor: pointer;
  text-decoration: none;
		-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
  transition: all .2s linear;
  color: cornflowerblue;
}
a:hover, .a:hover {
	opacity: .9;
}
.active{ color: white; cursor: default; }
.active:hover { opacity: 1; cursor: default; }
.block{ display: block; }
.bold{ font-weight: bold; }
button{
  border: 0;
  border-radius: 1px;
  line-height: 0;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 2px -1px rgba(168,168,168,1);
    -moz-box-shadow: 2px 2px 2px -1px rgba(168,168,168,1);
    box-shadow: 2px 2px 2px -1px rgba(168,168,168,1);
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
  min-height: 25px;
  transition: all .2s ease;
}
button:focus{ outline: none; }
button:hover { opacity: .7; }
button i{ line-height: 0; }
.button-action {
  font-weight: bold;
  height: 3em;
  padding: 0;
  width: 100%;
}
.button-next, .button-finish{
  background-color: cornflowerblue;
  color: white;
}
.button-cancel{
  background: #333;
  color: #999;
}
.caps{ text-transform: uppercase; }
.caption{ font-style: italic; }
.cursor-def{ cursor: default; }
.cursor-point{ 
  cursor: pointer;
}
.first-section{ padding-top: 6%; }
.h-centered{ text-align: center; }
.h-righted{ text-align: right; }
.hidden{ 
  display: none;
  transition: all .2s ease-in-out;
}
.icon-overlay{
    position:absolute;
    top:30%;
    left:0;
    content:'';
    width: 100%;
    height: 100%;
    z-index: 9999;
}
img{
  height: auto;
  max-width: 100%;
}
.inactive{ color: inherit; }
.inactive:hover, .tab .inactive:hover, .tag .inactive:hover{ color: white;opacity: 1; }
.inline-list{
	list-style-type: none;
  margin: 0;
  padding: 0;
}
.inline-list .item {
	display: inline-block;
	margin-right: .25em;
}
.inline-list .item:last-child{ margin-right: 0; }
.invisible{
  opacity: 0;
  transition: all .2s ease-in;
}
.last-row{ margin-bottom: 6em; }
.light{ color: #4A5656; }
.meta { 
  color: gray;
  font-style: italic;
}
.overlay{
  position: relative;
  top: 50%;
  z-index: 1;
}
.padding-bottom { padding-bottom: .5em;}
.padding-top{ padding-top: .5em; }
.pos-abs{ position: absolute; }
.pos-rel{ position: relative; }
.pull-center{ margin: 0 auto; }
.pull-right{ float: right; }
.pull-left{ float: left; }
.push-down{ margin-bottom: .5em; }
.remove-photo{
  width: 25px;
  height: 25px;
  background-color: #333;
  color: white;
  position: absolute;
  right: 5px;
  top: 5px;
}
.tab.active, .tag.active{
  cursor: default;
}
.ui-helper-hidden-accessible{ display: none; }
.v-centered {
  position: relative;
  top: 51.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wrapper{
  margin: 0 auto;
  width: 96%;
}

/*Bigger than 768px*/
/*@media only screen and (min-width: 768px) {
  .wrapper{ width: 96%; }
}*/