body, html{
	height: 100%;
	width: 100%;
}
.field_with_errors{
	color: #d85030;
}

.img-wrapper{
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  position: relative;
}
.wh-caps {
	text-transform: uppercase;
}
.wh-middle{

}
.wh-navbar {
	border-bottom: 1px solid white;
	padding: 10px 0;
	z-index: 100;
}
.wh-right-button{
	border-left: 1px solid #fff;
}
.wh-search-bar{
	padding: 10px 0;
}