/*===== Typography =====*/
html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'open sans', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {margin-bottom: 1.3em;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1, .h1 {
  margin-top: 0;
  font-size: 1.777em;
}
.h1-size{
  font-size: 1.777em;
}

h2, .h2, .h2-size {font-size: 1.333em; }

h3, .h3, .h3-size {font-size: 1em;}

h4, .h4 {font-size: 1em;}

h5, .h5 {font-size: 1em;}

small, .font_small {font-size: 0.75em;}

.first-header{ margin-top: 0; }
.last-header{ margin-bottom: 0; }

/*Bigger than 768px*/
@media only screen and (min-width: 768px) {
  h1, .h1, .h1-size {
    font-size: 3.157em;
  }
  h2, .h2 {font-size: 2.369em;}

  h3, .h3 {font-size: 1.777em;}

  h4, .h4 {font-size: 1.333em;}

  h5, .h5 {font-size: 1em;}
}