<div id='user-profile' class='uk-grid uk-grid-collapse'>
  <section id="user-profile-main" class="uk-width-10-10 wh-container uk-grid uk-margin-bottom">
    <div class='uk-width-1-1 uk-margin-top'>
      <h1>Dave • Oakland, CA</h1>
    </div>
    <div class='uk-width-2-10 uk-position-relative'>
      <%= image_tag("/assets/dave.jpg", :class => 'uk-responsive-width uk-border-circle') %>
      <div class='whirl-wrapper'>
        <div class='icon-on'></div>
        <span class='uk-text-muted uk-text-small'>800 whirls</span>
      </div>
      <p class='uk-text-small'>
        <i class='fa fa-photo uk-text-primary'></i><span class='uk-text-muted profile-counts'>200 photos</span>
      </p>
      <p class='uk-text-small'>
        <i class='fa fa-users uk-text-primary'></i><span class='uk-text-muted profile-counts'>18 collaborators</span>
      </p>
      <p class='uk-text-small'>
        <i class='fa fa-map-marker uk-text-primary'></i><span class='uk-text-muted profile-counts project-count'>42 projects</span>
      </p>
    </div>
    <div class='uk-width-6-10'>
      <h2 class='uk-margin-top-remove'>About</h2>
      <p>This is the about section.</p>
      <h2>Tools & Skills</h2>
      <% 7.times.each do |skill| %>
        <a class='profile-skill' href="/search/skill">skill</a>
      <% end %>
    </div>
    <div class='uk-width-2-10'>
      <h2 class='uk-margin-top-remove'>Recent Activity</h2>
      <p>
        <i class='fa fa-comment uk-text-primary'></i> Comment
      </p>
      <p>
        <i class='fa fa-photo uk-text-primary'></i> Photos
      </p>
    </div>
  </section>
</div>