<div id='project-creation' class='row group'>
<% = render partial: "photosidebar" %>

	<div id='project-form' class='eight columns'>
		<section id='project-header'>
			<div class='wrapper'>
				<form id='project-create' action=''>
					<div class='row group'>
						<div class='twelve columns'>
							<h1 class='project-title first-header'>
								<textarea id='project-title' name='project-title' placeholder='Title' maxlength='70'></textarea>
								<span class='font_small light hidden' data-limit='70'>70</span>
							</h1>
						</div>
					</div>
					<div class='row group'>
						<a class='user-meta eight columns' href='/'>
							<div class='image profile-thumb'>
								<img src='https://s-media-cache-ak0.pinimg.com/avatars/kbasye_1391702042_30.jpg'/>
							</div>
							<span class='user-meta h3-size'>Juan Doe, Drone Pilot</span>
						</a>
						<div class='four columns'>
							<input class='user-meta h3-size' placeholder='Project Location'>
						</div>
					</div>
					<div class='row group'>
						<p class='project-description'>
								<textarea id='project-description' name='project-description' placeholder='Describe your project.' maxlength='550'></textarea>
								<span class='light hidden' data-limit='550'>550</span>
						</p>
					</div>
					<div class='row group'>
						<div class='twelve columns'>
							<textarea id='project-tag-list' placeholder='#tags'></textarea>
							<div id='tag-container'></div>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section id='project-basemap' class=''>
		</section>

		<ul id='end-bar' class='button-bar closed'>
			<li class='option item' data-module-type='grid'>
				<button>
					<i class='h2-size fa fa-newspaper-o'></i>
				</button><br>
				<span class='hidden button-label font_small'>Grid</span>
			</li>
			<li class='option item' data-module-type='comparison'>
				<button>
					<i class='h2-size fa fa-cc-visa'></i>
				</button><br>
				<span class='hidden button-label font_small'>Compare</span>
			</li>
			<li class='item option-toggle'>
				<button>
					<i class='h2-size fa fa-plus'></i>
				</button><br>
				<span class='hidden font_small'>Add</span>
			</li>
			<li class='option item' data-module-type='half'>
				<button>
					<i class='h2-size fa fa-bar-chart'></i>
				</button><br>
				<span class='hidden button-label font_small'>Half</span>
			</li>
			<li class='option item' data-module-type='text'>
				<button>
					<i class='h2-size fa fa-file-text'></i>
				</button><br>
				<span class='hidden button-label font_small'>Text</span>
			</li>
			<li class='option item' data-module-type='video'>
				<button>
					<i class='h2-size fa fa-file-video-o'></i>
				</button><br>
				<span class='hidden button-label font_small'>Video</span>
			</li>
		</ul>


	</div>

</div>
