<section id='project-header' class='first-section'>
	<div class='wrapper'>
		<div class='row group'>
			<div class='twelve columns'>
				<h1 class='caps first-header h-centered'>The clearest way into the Universe is through a forest wilderness</h1>
			</div>
		</div>
		<div class='row group'>
			<a class='user-meta eight columns' href='/'>
				<div class='image profile-thumb'>
					<img src='https://s-media-cache-ak0.pinimg.com/avatars/kbasye_1391702042_30.jpg'/>
				</div>
				<span class='user-meta h3-size'>John Doe, Drone Pilot</span>
			</a>
			<div class='four columns'>
				<span class='user-meta h3-size'>Berkeley, CA</span>
			</div>
		</div>
		<div class='row group'>
			<div class='twelve columns'>
				<ul class='tag-list inline-list padding-top font_small'>
					<li class='tag item'><a href='/'>california</a></li>
					<li class='tag item'><a href='/'>drought</a></li>
					<li class='tag item'><a href='/'>bay</a></li>
					<li class='tag item'><a href='/'>djiphantom</a></li>
					<li class='tag item'><a href='/'>aerialimagery</a></li>
					<li class='tag item'><a href='/'>forest</a></li>
					<li class='tag item'><a href='/'>nowater</a></li>
					<li class='tag item'><a href='/'>dronesareawesome</a></li>
					<li class='tag item'><a href='/'>stresstesting</a></li>
					<li class='tag item'><a href='/'>thisdesign</a></li>
				</ul>
			</div>
		</div>
		<div class='row group'>
			<p class='project-description'>French festival poster: This striking poster is from Paris-based designers Thomas Couderc and Clément Vauchez who operate under the name Helmo.</p>
		</div>
	</div>
</section>

<section id='project-basemap' class='wrapper'>

</section>

<section id='project-content' class='wrapper group row'>
	<div class='project-text six columns'>
		<p>Recording how neighborhoods change can be difficult. Snapshots from the ground provide on view, but overhead images can capture a larger scope and a perspective on new developments that aren't accessible from the street or sidewalk.</p>
		<p>This project looks at construction on Telegraph Avenue and in Berkeley's Sproul Plaza. It provides a record of the work being done and what the skyline and aerial perspective on the neighborhood looks like. As it continues, it will show the continuous growth of this neighborhood and provide insight into how UC Berkeley and the city of Berkeley can work together to make the intersection of Telegraph Avenue and the campus a thriving, vibrant neighborhood.</p>
	</div>
	<div class='six columns'>
		<div class=''>
			<%= image_tag("project-chosen01.jpg", :alt => "") %>
			<div class='caption h-centered'>
				The project teammates fly the DJI phantom.
			</div>
		</div>
		<div class=''>
			<%= image_tag("project-chosen02.jpg", :alt => "") %>
			<div class='caption h-centered'>
				The construction is coming along!
			</div>
		</div>
	</div>
</section>

<section id='comparison' class='wrapper group row'>
	<div class='comparison twelve columns'>
		<%= image_tag("comparison-bar.png", :alt => "") %>
	</div>
</section>

<section id='project-comments' class='wrapper group row'>
	<div class='twelve columns'>
		<h3>Comments</h3>
		<article class='comment'>
			<a class='user-meta eight columns' href='/'>
				<div class='image profile-thumb'>
					<img src='https://s-media-cache-ak0.pinimg.com/avatars/kbasye_1391702042_30.jpg'/>
				</div>
				<span class='user-meta h3-size'>Ansel Adams, Nature Photographer</span>
			</a>
			<p class='meta'>August 14, 2014 at 2:30pm</p>
			<p class='comment-text'>Pork belly +1 street art, craft beer biodiesel readymade flexitarian next level hella photo booth Etsy fap YOLO brunch. Banh mi keytar squid kogi yr wolf fixie PBR Schlitz, you probably haven't heard of them single-origin coffee direct trade. Seitan tousled before they sold out vegan Vice. Lumbersexual occupy disrupt typewriter semiotics freegan. </p>
			<a class='reply-button button' href='#'>Reply</a>
		</article>
		<article class='comment'>
			<a class='user-meta eight columns' href='/'>
				<div class='image profile-thumb'>
					<img src='https://s-media-cache-ak0.pinimg.com/avatars/kbasye_1391702042_30.jpg'/>
				</div>
				<span class='user-meta h3-size'>John Muir, Boss</span>
			</a>
			<p class='meta'>October 24, 2014 at 1:00am</p>
			<p class='comment-text'>Forage photo booth lomo, meditation typewriter PBR&B fap Williamsburg brunch heirloom sriracha. Whatever semiotics selvage, yr vinyl four dollar toast taxidermy blog leggings messenger bag chillwave migas fixie ennui. </p>
			<a class='reply-button button' href='#'>Reply</a>
		</article>
	</div>
</section>