<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <strong><%= activity.owner ? activity.owner.login : 'Guest' %></strong>
  <% if a.trackable %>
   <%=image_tag(a.trackable.photo_file, :size => "100x100")%>  added a photo
  <% else %>
    added a photo that is currently deleted.
  <% end %>
</li>
