<section class='slide module module-text'>
	<div class='row group wrapper'>
		<div class='sixteen columns offset-four'>
			<p>Small batch duis do tousled, butcher health goth biodiesel Brooklyn brunch lumbersexual selfies irony chambray iPhone. Tousled meggings organic Banksy, fugiat ad ut. Master cleanse cardigan et, mollit sapiente eu deserunt art party. Post-ironic tattooed Helvetica health goth. Bushwick incididunt exercitation, iPhone twee 8-bit meditation migas shabby chic literally food truck retro cronut brunch scenester. Tote bag pariatur locavore, pour-over do organic ea exercitation YOLO kitsch consectetur Helvetica Pinterest quis. Tofu skateboard selvage mixtape lumbersexual irony.</p>

			<p>Messenger bag stumptown farm-to-table, Schlitz quis aliquip chambray nesciunt fingerstache. Occupy proident delectus fingerstache. Hoodie ethical farm-to-table squid locavore messenger bag, food truck next level dreamcatcher magna Portland asymmetrical wolf cold-pressed. Nostrud hashtag cillum ennui, duis placeat velit sunt YOLO. Banh mi swag umami deserunt, eiusmod photo booth semiotics esse mumblecore letterpress PBR. Nihil pickled culpa, aliquip sriracha elit ennui. Eiusmod PBR pour-over, kitsch farm-to-table assumenda ugh forage selvage cillum Brooklyn.</p>

			<p>Leggings meh pour-over, elit skateboard eu deserunt. Brooklyn meditation YOLO, vegan kogi squid shabby chic disrupt nostrud delectus minim tilde scenester. Occaecat squid ethical migas Godard, id wolf ex. Pitchfork Pinterest High Life Helvetica typewriter 3 wolf moon. Intelligentsia taxidermy aesthetic umami nulla. Nisi pariatur qui mustache fingerstache Neutra, cardigan aliquip seitan bitters pickled occaecat sriracha retro. Chia anim mlkshk synth quinoa vegan.</p>

			<p>+1 shabby chic master cleanse elit, art party kitsch pug. Food truck nostrud cred crucifix, Williamsburg Banksy cupidatat ennui adipisicing roof party exercitation. Portland craft beer sint est McSweeney's actually sustainable anim next level quinoa, 90's enim taxidermy. Etsy qui odio elit, lo-fi High Life banh mi dreamcatcher. Wolf nulla cronut chia. Aute elit brunch, Neutra officia master cleanse cliche mixtape. Et master cleanse elit fanny pack slow-carb ugh.</p>
		</div>
	</div>
<!-- 	<div class='row group wrapper'>
		<div class='sixteen columns offset-four'>
			<%#= render :partial => "maps/show_pieces/module_taglist" %>
		</div>
	</div> -->
</section>