
<section id='module-grid-<%= grid.id %>' class='slide module module-grid'>
	<div class='module-grid-wrapper twenty columns column-first'>
		<div class='grid-sizer'></div>

		<% unless grid.photos.blank? %>
     	<% grid.photos.each do |photo| %>
     	<% photo_d = PhotoDecorator.decorate(photo[0]) %>
      		<div class='grid-photo'>
      		<%=image_tag(photo_d.img_href)%>
    			</div>
      <%end%>
     <%end%>
	</div>
</section>
