<ul class='inline-list font_small'>
	<li class='project-tag-icon item h3-size'>
		<i class='fa fa-tag'></i></li>
	<% if taglist.present? %>
	<% taglist.each do |tag| %>
		<% tag_d = TagDecorator.decorate(tag) %>
		<%= tag_d.tag_li.html_safe %>
	<%end%>
<%end%>
	</li>
</ul>
