/*Animations and JS states*/
.item, .item button{
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

/*Styles*/
#end-bar button{
  background-color: cornflowerblue;
  color: white;
  height: 75px;
  width: 75px;
}

button{
  border: 0;
  border-radius: 50%;
  line-height: 0;
  margin: 0 auto;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
  transition: all .5s ease;
}
button:focus{ outline: none; }
button:hover { opacity: .7; }
button i{ line-height: 0; }
.button-bar{ 
  height: 76px;
  list-style-type: none;
  margin: 2.9em auto 2.9em auto;
  position: relative;
  text-align: center;
  width: 400px;
  z-index: 1;
}
.button-bar-btw{
  margin: 1.45em auto 1.45em auto;
}
.button-bar-btw button{
  height: 40px;
  width: 40px;
}
.button-label{
  opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
  transition: all .5s ease;
}
.button-label.hidden{ 
  opacity: 0;
  visibility: visible;
}
.button-bar .option-0, .button-bar .option-1, .button-bar .option-2, .button-bar .option-3, .button-bar .option-4, .button-bar .option-5{
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  z-index: 1;
} 
.button-bar .item{
  left: 162.5px;
  position: absolute;
}
.button-bar .option-0{left: -17px;}
.button-bar .option-1{left: 72px;}
.button-bar .option-2{left: 162.5px;}
.button-bar .option-3{left: 252px;}
.button-bar .option-4{left: 342px;}
.button-bar .option-toggle{
  z-index: 2;
}
.button-bar-btw .option-0{left: 70px;}
.button-bar-btw .option-1{left: 125px;}
.button-bar-btw .option-2, .button-bar-btw .option-toggle{left: 180px;}
.button-bar-btw .option-3{left: 235px;}
.button-bar-btw .option-4{left: 290px;}
.button-bar-btw .option-toggle button:hover{ opacity: 1; }
.closed .option, .open .option-toggle { visibility: hidden; }
.closed .option-toggle, .open .option { visibility: visible; }
.dropzone{
  background-color: rgba(100, 149, 237, 0.34);
  box-sizing: border-box;
  color: rgb(126, 162, 228);
  cursor: default;
  font-weight: bold;
  height: 290px;
  line-height: 13em;
  overflow: hidden;
  text-align: center;
}
.drop-active{
  border: 3px dotted cornflowerblue;
}
.drop-target{
  background-color: cornflowerblue;
  border: none;
  color: rgb(243, 247, 255);
}
/*.droppable img.draggable{
  max-width: 180px;
  max-height: 180px;
}*/
.error{ color: cornflowerblue; }
.fa-plus{ line-height: 0;}
.grabbable{ cursor: -webkit-grab; }

.grid-module .photo{
  width: 48%;
  float: left;
  margin: 0 2% 1% 0;
}
input{
  background: none;
  border: none;
  width: 100%;
}
input:focus{ outline: none; }
label{
  color:gray;
  display: block;
  font-size: .75em;
  text-transform: uppercase;
}
.module{
  background-color: white;
  margin-bottom: 1.45em;
  margin-top: 1.45em;
}
.module.padding-bottom{ padding-bottom: 1em; }
.module textarea.tag-input{ border-top: 1px solid #e5e5e5; overflow: hidden; }
.module .wrapper { width: 96%; }
.photo{ position: relative; }
.photo .img-wrapper{
  height: 290px;
  overflow: hidden;
}
.module img.ui-draggable-handle {
  width: 100%;
}
.photo-remove{
  background-color: #333;
  color: white;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 22px;
}
#photo-upload{
  position: relative;
  overflow: hidden;
  margin: 10px;
}
#photo-upload input{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#photo-upload-form{ z-index: 1; }
.project-tag{ 
  display: inline-block;
  margin: 0 10px 8px 0;
  -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    transition: all .25s linear;
}
.project-tag.error{ color: cornflowerblue; }
.project-tag:hover{ text-decoration: line-through; }
.tag-container{ min-height: 29px; }
textarea{
  background: none;
  border: none;
  overflow: hidden;
  resize: none;
  vertical-align: top;
  width: 100%;
}
textarea.char-limited{ width: 90%; }
textarea:focus{ outline: none; }
textarea.tag-input{ height: 19px; }
textarea.tag-input::-webkit-input-placeholder { /* WebKit browsers */
  font-size: .75em;
}
textarea.tag-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: .75em;
}
textarea.tag-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: .75em;
}
textarea.tag-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: .75em;
}


