#project-show{
  .pp-main{

  }
  .wh-container{
    background: white;
    padding-left: 8%;
    padding-right: 2%;
  }
  .wh-map-container.uk-width-6-10{
    background: white;
    width: 62%;
  }
  .wh-height-viewport{
    height: 88vh; 
    min-height: 557px;
  }
}