#navbar-main.map-info{
  height: 8%;
  .help-wrapper { padding-top: 5%; }
  #help{
    border: #333 1px solid;
    color: #333;
    height: 25px;
    width: 25px;
  }
  #help i {
    left: 20%;
    top: 25%;
  }
  #help:hover{
    background: #fafafa;
    color: #333;
  }
  .menu-item{ border: none; }
  .navbar-main{ height: 8%; }
}


.ui-draggable-handle{
  z-index: 100000;
}

/*===== Project Creation =====*/

#project-creation-1, #project-creation-2{

  background-color: #fff;
  height: 100%;
  min-height: 700px;
  .button-bar{ 
    height: 76px;
    list-style-type: none;
    margin: 2.9em auto 2.9em auto;
    position: relative;
    text-align: center;
    width: 400px;
    z-index: 1;
  }
  .button-bar-btw{
    margin: 1.45em auto 1.45em auto;
  }
  .button-bar-btw button{
    height: 40px;
    width: 40px;
  }
  .button-label{
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  .button-bar .option-0, .button-bar .option-1, .button-bar .option-2, .button-bar .option-3, .button-bar .option-4, .button-bar .option-5{
    -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
    z-index: 1;
  } 
  .button-bar .item{
    left: 162.5px;
    position: absolute;
  }
  .button-bar .option-0{left: -17px;}
  .button-bar .option-1{left: 72px;}
  .button-bar .option-2{left: 162.5px;}
  .button-bar .option-3{left: 252px;}
  .button-bar .option-4{left: 342px;}
  .button-bar .option-toggle{
    z-index: 2;
  }
  .button-bar-btw .option-0{left: 70px;}
  .button-bar-btw .option-1{left: 125px;}
  .button-bar-btw .option-2, .button-bar-btw .option-toggle{left: 180px;}
  .button-bar-btw .option-3{left: 235px;}
  .button-bar-btw .option-4{left: 290px;}
  .button-bar-btw .option-toggle button:hover{ opacity: 1; }
  /*.closed .option, .open .option-toggle { visibility: hidden; }*/
  /*.closed .option-toggle, .open .option { visibility: visible; }*/

  .drop-active{
    border: 3px dotted cornflowerblue;
  }
  .drop-target{
    background-color: cornflowerblue;
    border: none;
    color: rgb(243, 247, 255);
  }
  #end-bar{
    margin-bottom: 6em;
  }
  #end-bar button{
    background-color: cornflowerblue;
    color: white;
    height: 75px;
    width: 75px;
  }
  .error{ color: coral; }
  .fa-plus{ line-height: 0;}
  .filter-list{ padding-top: 24%; }
  .filter-type{
    color: rgb(44, 203, 197);
    cursor: pointer;
    margin-right: 1em;
    font-weight: bold;
  }
  .filter-type:last-of-type{
    margin-right: 0;
  }
  .filter-type.active{
    border-bottom: 3px solid rgb(44, 203, 197);
    color: #CFCFCF;
    cursor: default;
  }
  .focus-in .input-label{
    color: darkcyan;
  }
  .focus-in textarea{
    border-bottom: 2px solid darkcyan;
  }
  .grabbable{ cursor: -webkit-grab; }
  .grid-module .photo{
    width: 48%;
    float: left;
    margin: 0 2% 1% 0;
  }
  input{
    background: none;
    border: none;
    width: 100%;
  }
  input:focus{ outline: none; }
  .input-wrapper{
    position: relative;
  }
  .input-label{
    color:gray;
    display: block;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    top: -2em;
  }
  .input-label-large{
    top: 1.5em;
  }
  .item, .item button{
    -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
  }
  .module{
    background-color: white;
    margin-bottom: 1.45em;
    margin-top: 1.45em;
  }
  .module.padding-bottom{ padding-bottom: 1em; }
  .module textarea.tag-input{ border-top: 1px solid #e5e5e5; overflow: hidden; }
  .module .wrapper { width: 96%; }
  .module img.ui-draggable-handle {
    width: 100%;
  }
  .photo{ position: relative; }
  .photo-list{
    background-color: #666;
    height: 100%;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    transition: all .25s linear;
  }
    .photo-list img { max-height: 180px; }

  #photo-manager{
    background: #333;
    height: 100%;
    padding-top: 3%;
    position: fixed;
    overflow: scroll;
  }
  #photo-manager-nav{
    background: #f6f6f6;
    box-shadow: 0 2px 0px rgba(0,0,0,0.26);
    height: 8%;
    line-height: 3em;
    position: fixed;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #e5e5e5;
    z-index: 5;
  }
  .photo-remove{
    background-color: #333;
    color: white;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
  }

  #photo-upload a{
    color: rgb(44, 203, 197);
  }
  #photo-upload form {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    top: 0;
    height: 50px;
  }
  #photo-upload input{
    cursor: pointer;
    font-size: 100px;
  }

  #preview-list{
    font-size: 0;
    padding: 6% 1% 0;
    text-align: justify;
  }

  #preview-list:after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  #preview-list .preview,
  #preview-list .gap{
    display: inline-block;
    width: 100%;
    height: 146px;
  }

  #preview-list .preview{
    text-align: left;
    margin-bottom: 2%;
    display: none; /*<-- uncomment this rule for use with MixItUp */
  }

  #preview-list .preview:before{
    content: '';
    display: inline-block;
    padding-top: 60%;
  }

  @media all and (min-width: 420px){
    #preview-list .preview,
    #preview-list .gap{
      width: 32%;
    }
  }

  @media all and (min-width: 640px){
    #preview-list .preview,
    #preview-list .gap{
      width: 49%;
    }
  }
  .project-tag{ 
    display: inline-block;
    margin: 0 10px 8px 0;
    -webkit-transition: all .25s linear;
      -moz-transition: all .25s linear;
      transition: all .25s linear;
  }
  #project-form-new{
    margin-top: 0;
    padding-top: 6%;
  }
  #project-form-map-info{
    margin-top: 0;
    padding-top: 10%;
  }
  .project-tag.error{ color: cornflowerblue; }
  .project-tag:hover{ text-decoration: line-through; }

  .row-form{ margin-bottom: 2em; }
  .saved .fa-save { color: green; }
  .save-module{
    height: 40px;
    width: 40px;
  }
    .on-change {
    color: cadetblue;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
  }
  .scrollable {
    height: 100%;
    overflow: overlay;
    position: fixed;
  }

  select{
    background: transparent;
    border: none;
    color: black;
    height: 2em;
    width: 75%;
    -webkit-appearance: none;
  }
  #select-photo-state{
    padding: 0 0 0 10px;
    height: 43px;
  }
  .sort-item{
    color: #CFCFCF;
  }
  .sort.active{
    color: coral;
  }
  .sort-item:hover{
    color: coral;
  }
  .sort-list .item:hover{
    opacity: .7;
  }
  .tag-container{ min-height: 29px; }
  textarea{
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    height: 2em;
    overflow: hidden;
    resize: none;
    vertical-align: top;
    width: 100%;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  /*textarea.char-limited{ width: 90%; }*/
  textarea:focus{ outline: none; }
}

