.comparison {
  overflow: hidden;
}
.comparison img{ width: 100%; }
.project-footer {
  background:black;
  bottom:0px;
  color: white;
  height:3.5em;
  left:0px;
  position:fixed;
  width: 100%;
}
/* IE 6 */
* html .project-footer {
   position:absolute;
}
.project-footer a{ color: white; }
.project-header{
  background-color: chartreuse;
  height: 100%;
  position: fixed;
  top: 3.5em;
  z-index: -1;
}
.first-column{
  margin-top: 0;
}
.tag{
  cursor: pointer;
  display: inline-block;
  padding: .25em .5em .25em 0.5em;
  background-color: #9b9b9b;
  border-radius: 1px;
}
.tag a{
  color: white;
}
.tag-icon{
  color: #c5c5c5;
}
.tag-list{
  max-height: 3em;
  overflow: hidden;
  position: relative;
}
.tags-more{
  color: #c5c5c5;
  position: absolute;
  right: 0;
}
/*===== Project Map =====*/
/*see maps.css*/

/*===== Responsive =====*/
/*Bigger than 568px*/
@media only screen and (min-width: 568px) {
}

/*Bigger than 768px*/
@media only screen and (min-width: 768px) {
	#project-header .project-name { font-size: 1.777em; }
  /*#project-header .wrapper { width: 80%; }*/
}

/*Bigger than 1024px*/
@media only screen and (min-width: 1024px) {
  /*#project-header .wrapper { width: 60%; }*/
  /*#project-header { max-height: 200px; }*/
}