/*===== Project Creation =====*/
#navbar-create{ 
  top: 54px;
  width: 32.26%;
  z-index: 9999;
}
#photo-cats .tag { margin-right: 2em; background-color: black; }
#photo-cats .tag.active {  background-color: gray; }

#photo-cats, #photo-state{ background-color: black; }
.photo-list{
  background-color: black;
  margin-top: 3.5em;
}
  .photo-list img { max-height: 180px; }
  .photo-list.scrollable{
    width: 32.26%;
  }
  .photo-list .preview {
    height: 180px;
  }
.project-creation .side-nav .photo-row.wrapper:nth-last-of-type(1){margin-bottom: 11em;}
.project-creation{ 
  background-color: #f2f2f2;
  height: 100%;
  min-height: 700px;
 }
  .project-creation .eight{ width: 64.13%; }
  .project-creation .side-nav .wrapper{
    margin: 0 3%;
  }
#project-form{ margin-top: 73px; }
.preview {
  background-color: gray;
  color: white;
}
.preview-chosen { opacity: .5; cursor: default; }
.preview:hover{
  opacity: .5;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
  transition: all .25s ease;
}
/*===== Project Header =====*/
#project-header{
	background-color: rgb(242, 242, 242);
	/*max-height: 200px;*/
  /*overflow: hidden;*/
  /*display: none;*/
}
/*===== Project Map =====*/
/*see maps.css*/

/*===== Project Content =====*/

/*===== Project Comparison =====*/
.comparison {
  overflow: hidden;
}
.comparison img{ width: 100%; }

/*===== Responsive =====*/
/*Bigger than 568px*/
@media only screen and (min-width: 568px) {
}

/*Bigger than 768px*/
@media only screen and (min-width: 768px) {
	#project-header .project-title { font-size: 1.777em; }
  /*#project-header .wrapper { width: 80%; }*/
}

/*Bigger than 1024px*/
@media only screen and (min-width: 1024px) {
  /*#project-header .wrapper { width: 60%; }*/
  /*#project-header { max-height: 200px; }*/
}
