@font-face {
  font-family: 'Heading0';
  src:url('fonts/2E1172_0_0.eot');
  src:
    url('fonts/2E1172_0_0.eot.ttf') format('ttf'),
    url('fonts/2E1172_0_0.eot.woff') format('woff'),
    url('fonts/2E1172_0_0.eot.woff2') format('woff2');
  /*font-weight: normal;*/
  /*font-style: normal;*/
}

@font-face {
  font-family: 'Heading1';
  src:url('fonts/2E1172_1_0.eot');
  src:
    url('fonts/2E1172_1_0.eot.ttf') format('ttf'),
    url('fonts/2E1172_1_0.eot.woff') format('woff'),
    url('fonts/2E1172_1_0.eot.woff2') format('woff2');
  /*font-weight: normal;*/
  /*font-style: normal;*/
}

@font-face {
  font-family: 'Heading2';
  src:url('fonts/2E1172_2_0.eot');
  src:
    url('fonts/2E1172_2_0.eot.ttf') format('ttf'),
    url('fonts/2E1172_2_0.eot.woff') format('woff'),
    url('fonts/2E1172_2_0.eot.woff2') format('woff2');
  /*font-weight: normal;*/
  /*font-style: normal;*/
}

@font-face {
  font-family: 'Heading3';
  src:url('fonts/2E1172_3_0.eot');
  src:
    url('fonts/2E1172_3_0.eot.ttf') format('ttf'),
    url('fonts/2E1172_3_0.eot.woff') format('woff'),
    url('fonts/2E1172_3_0.eot.woff2') format('woff2');
  /*font-weight: normal;*/
  /*font-style: normal;*/
}