	<div id='filter-bar' class='twenty-four h5-size'>
		<div class='row group wrapper pos-rel'>

				<span class='caps block font_small pos-abs'>Showing:</span>

				<div id='filter-result-count-wrapper' class='filter-btw h-centered two columns h4-size'>
					<span id='filter-result-count'>1,333</span>
				</div>
				
				<div class='filter-input-wrapper four columns pos-rel'>
          <input id='filter-query' type='text' class='filter-input twenty-four pos-abs' placeholder='Keyword Search'/>
				</div>

				<div class='three columns offset-one'>
					<div id='filter-entity' class='pos-rel filter-input'>
						<ul class='inline-list'>
							<li class='item active'>Projects</li>
							<!-- <li class='item filter' data-filter='project'>Projects</li> -->
							<!-- <li class='item filter' data-filter='user'>Users</li> -->
						</ul>
					</div>
				</div>

				<div class='filter-btw one columns h-centered font_small'>near</div>

				<div class='filter-input-wrapper five columns pos-rel'>
          <input id='filter-location' type='text' class='filter-input twenty-four pos-abs' placeholder='anywhere'/>
				</div>


				<button id='search-go'>Go</button>


				<div id='sort-wrapper' class='two columns h-righted offset-one pull-right pos-rel cursor-point'>
					<ul class='inline-list'>
						<li class='item sort' data-sort="relevant:asc">Relevance</li>
						<li class='item sort' data-sort="updated:asc">Newest</li>
						<li class='item sort' data-sort="updated:desc">Oldest</li>
					</ul>
				</div>
		</div>
	</div> <!-- end filter-action-bar -->

