<article class='search-card mix' data-map-id='1' data-updated='2' data-relevant='1'>

	<a href='/maps/1' class="sc-cover uk-cover-background uk-overlay" style="background-image: url('/assets/grid-03.jpg');">
	    <img class="uk-invisible" src="<%= asset_path 'grid-03.jpg' %>" alt="Placeholder">
	</a>


	<div class='uk-grid uk-grid-collapse'>
		<div class='sc-activity uk-width-2-10 uk-text-center'>
			<p>
				<i class='fa fa-users wh-text-green'></i>
				<br><span id='sc-collabo-count' class='uk-text-small uk-text-muted'>1390</span>
			</p>
			<p>
				<i class='fa fa-comment wh-text-green'></i>
				<br><span id='sc-comment-count' class='uk-text-small uk-text-muted'>3,113</span>
			</p>
			<p>
				<i class='fa fa-heart wh-text-green'></i> <br>
				<span id='sc-whirl-count' class='uk-text-small uk-text-muted'>4,819</span>
			</p>
		</div>

		<div class='sc-main uk-width-8-10'>
			<div class='sc-header'>
				<h1 class='sc-title uk-h4 wh-caps uk-text-bold'>
					<a href='/maps/1'>Mapping Unemployment Via The Empty Parking Lots of a Former Metropolis</a>
				</h1>
			</div>
			<div class='sc-meta uk-text-muted uk-margin-bottom'>
				<span>Posted by <a href="/user_profiles/1">kbasye</a> on May 4th, 2015</span>
				<br><span class='sc-location'>Berkeley, CA USA</span>
			</div>
			<div class='sc-tags uk-subnav uk-text-small uk-width-6-10 uk-float-left uk-text-nowrap'>
				<span class='uk-text-small'><i class='fa fa-tag uk-text-muted'></i></span>
				<a class='uk-text-muted' href='/search/one'>one</a>
				<a class='uk-text-muted' href='/search/two'>two</a>
				<a class='uk-text-muted' href='/search/three'>three</a>
				<a class='uk-text-muted' href='maps/four/four'>tag</a>
				<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
				<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
				<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
				<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
				<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
				<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
			</div>
		</div>

	</div>



</article>


