
<article id='search-card-1' class='search-card eight columns' data-map-id='1'>
	<div class='seach-card-header row group wrapper gray'>
		<div class='twenty-four'>
			<h1 class='search-card-title h5-size caps bold'><a href='/'>Mapping Unemployment Via the Empty Parking Lots of a Former Metropolis</a></h1>
				<ul class='inline-list'>
					<li class='user-meta-item item font_small'>
						Posted by:
						<a href='/'>pswigert</a></li>
					<li class='user-meta-item item'>&bull;</li>
					<li class='user-meta-item item font_small'>Apr 17, 2015</li>
				</ul>

			<ul class='project-tag-list inline-list font_small'>
		    <li class='project-tag-icon item h4-size'>
		    <i class='fa fa-tag'></i></li>
				<li class='project-tag item pull-right'>...</li>
				<li class='project-tag item push-down gray'>mapping, </li>
				<li class='project-tag item push-down gray'>parkinglots, </li>
				<li class='project-tag item push-down gray'>unemployment, </li>
				<li class='project-tag item push-down gray'>missouri, </li>
				<li class='project-tag item push-down gray'>unemployment, </li>
				<li class='project-tag item push-down gray'>missouri </li>
			</ul>
		</div>
	</div>

	<div class='search-card-thumb row group'>
		<div class='twenty-four columns pos-rel'>
			<div class='search-card-location twenty-four pos-abs font_small wrapper'>Willard-Hay, Minneapolis, MN, USA</div>
			<a class='img-wrapper img-wrapper-link' href='/maps/1' style="background-image:url('/assets/test/test1.jpg')">
			</a>
		</div>
	</div> <!-- end row group -->

	<div class='search-card-activity search-card-footer row group wrapper gray'>
		<div class='twenty-four columns'>
			<ul class='inline-list font_small'>

				<li id='comment-count' class='item cursor-point'>
					<i class='fa fa-comment'></i>
					<span id='comment-num'>388</span>
				</li>

				<li id='vote-count' class='item cursor-point'>
					<i class='fa fa-thumbs-up'></i>
					<span id='vote-num'>1,789</span>
				</li>

			</ul>
		</div>
	</div>
</article> <!-- end search-card -->
