<article class='search-card mix' data-map-id='1' data-updated='2' data-relevant='1'>

	<a href='maps_path(card.name)' class="sc-cover uk-cover-background uk-overlay" style="background-image: url('<%=card.coverphoto_name%>');">
	    <img class="uk-invisible" src="<%=card.coverphoto_name%>" alt="Placeholder">
		<div class='sc-location uk-text-contrast wh-caps uk-overlay-panel uk-overlay-bottom uk-overlay-background'>
			<div class='uk-container '><%=card.location%></div>
		</div>
	</a>
	<div class='uk-container uk-margin-top'>
		<div class='sc-header'>
			<h1 class='sc-title uk-h4 wh-caps uk-text-bold'>
				<a href='/maps/1'>Mapping Unemployment Via The Empty Parking Lots of a Former Metropolis</a>
			</h1>
		</div>
		<div class='sc-meta uk-text-muted uk-text-small'>
			<ul class="uk-subnav uk-subnav-line">
			    <li class='uk-active'>Posted by <a href="/user_profiles/1">kbasye</a></li>
			    <li>Updated on May 4th, 2015</li>
			</ul>
		</div>
	</div>
	<hr>
	<div class='sc-footer uk-container'>
		<div class='sc-tags uk-subnav uk-text-small uk-width-6-10 uk-float-left uk-text-nowrap'>
			<span class='uk-text-small'><i class='fa fa-tag uk-text-muted'></i></span>
			<a class='uk-text-muted' href='/search/one'>one</a>
			<a class='uk-text-muted' href='/search/two'>two</a>
			<a class='uk-text-muted' href='/search/three'>three</a>
			<a class='uk-text-muted' href='maps/four/four'>tag</a>
			<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
			<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
			<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
			<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
			<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
			<a class='uk-text-muted' href='maps/tagged/tag'>tag</a>
		</div>

		<ul class='uk-subnav uk-text-small uk-float-right uk-width-4-10'>
			<li class='uk-width-1-2 uk-text-muted'><i class='fa fa-comment uk-text-muted'></i> <span id='sc-comment-count' class='uk-text-muted'>3,113</span></li>
			<li class='uk-width-1-2 uk-text-muted'><i class='fa fa-heart uk-text-muted'></i> <span id='sc-whirl-count' class='uk-text-muted'>4,819</span></li>
		</ul>

	</div>
</article>
