<form id='search-form' class="uk-form uk-margin-remove uk-display-inline-block">
  <input id='search-bar-keyword' type="text" placeholder="Search">
  <input id='search-bar-location' type="text" placeholder="Location">
  <button id='search-bar-go' class="search-go uk-button uk-button-primary"><i class='fa fa-search'></i></button>
</form>