#search-filter-bar{
	border-bottom: 1px solid #ddd;
	
	#search-page-entity {
		margin-top: 3px;
		width: 105px;
	}
	input { 
		font-size: 18px;
	  line-height: 24px;
	}
	.wh-select .selected {
		color: #00a8e6;
		/*content: "\f00c";*/
		/*font-family: FontAwesome;*/
	}
	#view-switch{
		width: 38px;
	}
}
#search-results{
	.container{
	  padding: 2% 2% 0;
	  text-align: justify;
	  /*font-size: 0;*/
	}

	.container:after{
	  content: '';
	  display: inline-block;
	  width: 100%;
	}

	.container .mix,
	.container .gap{
	  display: inline-block;
	  width: 49%;
	}

	.container .mix{
	  text-align: left;
	  background: #fff;
	  margin-bottom: 2%;
	  border: 1px solid #ddd;
	  display: none;/* <-- uncomment this rule for use with MixItUp */
	}

	.container .mix:before{
	  content: '';
	  display: inline-block;
	}

	@media all and (min-width: 420px){
	  .container .mix,
	  .container .gap{
	    width: 32%;
	  }
	}

	@media all and (min-width: 640px){
	  .container .mix,
	  .container .gap{
	    width: 32%;
	  }
	}
	.count-container{
		padding: 0 4px;
		width: 75px;
	}
	.sc-collabos {
	  max-height: 35px;
	  overflow: hidden;
	}
	.sc-activity{
		background: #f0f1f2;
		padding-top: 20px;
	}
	.sc-cover{
	  width: 100%;
	  height: 200px;
	  margin-top: -20px;
	}
	.sc-meta{
		font-size: 13px;
	}
	.sc-footer{
		height: 37px;
	  overflow-y: hidden;
	  width: 100%;
	}
	.sc-header{
		height: 80px;
	}
	.sc-location{
		/*padding: 2px 0;*/
	}
	.sc-main{
		padding: 15px 15px 5px 20px;
	}
	.sc-meta ul{
		margin-bottom: 0;
	}
	.sc-tags{
		height: 40px;
	  overflow-y: hidden;
	}
	.sc-title a{
		color: #404041;
	}
	.sc-title a:hover { 
		color: #20a593;
		text-decoration: none;
	}
	#search-results-list{
		min-height: 385px;
	}
	.wh-subnav-header{
		margin-top: 13px;
	}
}