<nav id='navbar-main' class='navbar-main navbar six columns sticky-nav <%=className%>'>
  <div class='row group wrapper'>
    <h1 id='main-logo' class='twelve columns menu-item bold'>
      <a href='/'>W</a>
    </h1>
    <div class='help-wrapper eleven columns menu-item'>
      <div id='help' class='round gray pos-rel pull-right cursor-point'><i class='fa fa-info pull-right pos-abs'></i></i></div>
    </div>
  </div>
</nav>