<nav id='navbar-main' class='navbar-main navbar twenty-four sticky-nav <%=className%>'>
  <div class='row group'>
    <h1 id='main-logo' class='logo three offset-one columns'>
      <a href='/'>
        <i class='fa fa-plane'></i>
        Whirld
      </a>
    </h1>
    <a id='about' href='about/' class='three columns block menu-item h-centered h4-size offset-two'>About</a>
    <%= link_to('Create', maps_new_path , :class => 'three columns block menu-item h-centered h4-size', :id => 'create') %>

    <% if user_signed_in? %>
      <%=link_to "Sign out", destroy_user_session_path, :method=> :delete, :class => 'block menu-item h-centered h4-size three columns pull-right'%>
    <% else %>
      <%= link_to "Log in", new_user_session_path, :class => 'block menu-item h-centered h4-size three columns pull-right' %>
    <% end %>

    <!-- NEED: search path -->
    <a id='search' href='search' class='block menu-item h-centered h4-size two columns pull-right'>
      <i class='fa fa-search'></i>
    </a>

  </div>
</nav>
