<nav id='navbar-create' class='eight columns navbar padding-top'>
  <div class='row group wrapper'>
    <h1 id='main-logo' class='logo twelve columns first-header h5'>
      <a href='/'>
        <i class='fa fa-paper-plane'></i> Whirld
      </a>
    </h1>
  </div>
</nav>