<div data-uk-sticky>
  <nav id='main-nav' class="wh-navbar uk-navbar uk-navbar-attached <%=className%> wh-caps uk-text-large">
    <a id='wh-logo' class="uk-navbar-brand" href="/" style="background-image:url('/assets/logo.png')"></a>

    <div class='uk-navbar-content'>
      <%= link_to("Create", maps_new_path ) %>
    </div>

    <ul class="uk-navbar-nav uk-navbar-flip">
        <li class="uk-parent" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
            <a href="">kbasye <i class="fa fa-caret-down"></i> </a>

            <div class="uk-dropdown uk-dropdown-navbar" data-uk-dropdown="{mode:'click'}">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Separated item</a></li>
                </ul>
            </div>
        </li>
    </ul>
    
      <%if className == 'front' %>
          <div class="uk-invisible uk-navbar-content uk-navbar-flip">
      <% else %>
          <div class="uk-navbar-content uk-navbar-flip">
      <% end %>
      <%= render :partial => 'maps/search_pieces/top_search_bar' %>
      
    </div>
   </div>
  </nav>

  <% if className == 'search' %>
    <%= render :partial => "maps/search_pieces/filter_bar" %>
  <% end %>
</div>
