<nav id='main-nav' class="uk-navbar uk-navbar-attached" data-uk-sticky>
  <a class="uk-navbar-brand" href="/">Whirld</a>

  <div class='uk-navbar-content'>
    <%= link_to("Create", maps_new_path ) %>
  </div>

  <ul class="uk-navbar-nav uk-navbar-flip">
      <li class="uk-parent uk-active" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
          <a href="">kbasye<i class="fa fa-caret-down"></i> </a>

          <div class="uk-dropdown uk-dropdown-navbar" data-uk-dropdown="{mode:'click'}">
              <ul class="uk-nav uk-nav-navbar">
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Another item</a></li>
                  <li class="uk-nav-header">Header</li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Another item</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#">Separated item</a></li>
              </ul>
          </div>
      </li>
  </ul>

  <div class="uk-navbar-content uk-navbar-flip">
      <form id='search-form' class="uk-form uk-margin-remove uk-display-inline-block">
            <input id='search-keyword' type="text" placeholder="Search">

          <input id='search-location' type="text" placeholder="Location">
          <button id='search-bar-go' class="uk-button uk-button-primary"><i class='fa fa-search'></i></button>
      </form>

  </div>


</nav>