<nav id='navbar-main' class='navbar-main navbar twenty-four columns sticky-nav <%=className%>'>
  <div class='row group wrapper'>
    <h1 id='main-logo' class='logo four columns'>
      <a href='/'>
        <i class='fa fa-plane'></i>
        Whirld
      </a>
    </h1>
    <a id='about' href='about/' class='three columns block menu-item h-centered h4-size'>About</a>
    <%= link_to('Create', maps_new_path , :class => 'three columns block menu-item h-centered h4-size', :id => 'create') %>

    <% if user_signed_in? %>
      <%=link_to "Sign out", destroy_user_session_path, :method=> :delete, :class => 'block menu-item h-centered h4-size three columns pull-right'%>
    <% else %>
      <%= link_to "Log in", new_user_session_path, :class => 'block menu-item h-centered h4-size three columns pull-right' %>
    <% end %>

    <!-- NEED: search path -->
    <div id='search' class='block menu-item h-centered h4-size ten columns pull-right'>
      <div id='search-input-wrapper' class='pos-rel'>
        <input id='search-input' type='text' placeholder='Search on Whirld...' value=''/>
        <label id='search-icon-wrapper' class='cursor-point' for='search-input'><i class='fa fa-search v-centered'></i></label>
      </div>
    </div>

  </div>
</nav>
