<!DOCTYPE html>
<html>
<head>
  <head>
  <%= render :partial =>  "layouts/header_application" %>
  </head>
  <body>
 <%= render "layouts/nav_main", :className=> 'read' %>

  <%= yield %>

<%#= javascript_include_tag "juxtapose/build/js/juxtapose.min" %>

</body>
</html>