<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<%= render "layouts/header_map" %>
</head>
<body>
<%= render "layouts/nav_main", :className=> 'read' %>
<h1>Hi</h1>
<%= yield %>

<!-- <script><%#= render :partial => 'maps/mappane', :formats => [:js] %></script> -->


<%#= javascript_include_tag "juxtapose/build/js/juxtapose.js" %>
</body>

</html>